
  <div class="jumbotron">
    <h1>Lists Made Simple</h1>
    <p class="lead">Bacon ipsum dolor sit amet reprehenderit spare ribs nulla, kevin aute turducken shoulder sunt dolore esse labore et aliquip id.</p>
    <p><%= link_to "Sign up today", new_user_registration_path, class: "btn btn-lg btn-success", role: "button" %></p>
  </div>

  <div class="marketing">
    <div class="col-lg-6">
      <h4>Totally Amazing</h4>
      <p>Ex ut enim pork loin landjaeger kielbasa, spare ribs chicken anim laboris veniam.</p>

      <h4>Superior To Yours</h4>
      <p>Ex ut enim pork loin landjaeger kielbasa, spare ribs chicken anim laboris veniam.</p>

      <h4>Everyone Love It!</h4>
      <p>Ex ut enim pork loin landjaeger kielbasa, spare ribs chicken anim laboris veniam.</p>
    </div>

    <div class="col-lg-6">
      <h4>Totally and Completely Free</h4>
      <p>Ex ut enim pork loin landjaeger kielbasa, spare ribs chicken anim laboris veniam.</p>

      <h4>Unless I Decide It's Not!</h4>
      <p>Ex ut enim pork loin landjaeger kielbasa, spare ribs chicken anim laboris veniam.</p>

      <h4>Your Money Is Belong To Us</h4>
      <p>Ex ut enim pork loin landjaeger kielbasa, spare ribs chicken anim laboris veniam.</p>
    </div>
  </div>
